.toast {
    background-color: $background;
    border-radius: 20px;
}

.toast_icon {
    font-size: 1.7em;
    min-width: 2rem;
    // margin: .2rem 0 .2rem 0;

    &.wifi-icon{
        color: $magenta;
    }
    &.brightness-icon{
        color: $yellow;
    }
    &.volume-icon{
        color: $green;
    }

    &.battery-icon {
        color: $blue;
    }

    &.notification-icon{
        color: $yellow;
    }
}
